<component name="ArtifactManager">
  <artifact type="war" name="spring-base:war">
    <output-path>$PROJECT_DIR$/spring-base/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>spring-base</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="spring-base.war">
      <element id="artifact" artifact-name="spring-base:war exploded" />
    </root>
  </artifact>
</component>